body
{
    margin: 20px;
}
footer
{
    margin-bottom: 100px;

}
b
{
    font-size: 58px;
}
div.ftm
{
    background: aqua;
    color: rgb(0, 0, 0);
    border-radius: 13px;
    padding-left: 20px;
    padding-bottom: 1px;
    padding-top: 0.2px;
}

img.mainimg
{
    height: 65px;
    border-radius: 72px;
    margin: 2px;
}
img#img1
{
    height: 27px;
    float: right;
    margin: 2px;
    margin-top: 30px;
}
nav{
    display: flex;
    background-color: aqua;
    border-radius: 20px;

}
img#logo
{
    width: 57px;
    border-radius: 112px;
}
a#navm
{
    text-decoration: none;
    margin: 2px;
}
div#link,a
{
    margin-left: 845px;
    margin-top: 21px;
    font-size: 21px;
    color: rgb(0, 0, 0);
}

a#navm:hover
{
    border: solid;
    margin: 5px;
    padding: 4px;
    border-radius: 50px;
    color: rgb(0, 136, 255);
}
div.menu1
{
    display: flex;
}
img#m1
{
    height: 221px;
    border-radius: 124px;
}
h2#m1t
{
    font-size: 33px;
    margin-top: 15px;
}
div.ing
{
    margin-left: 29px;
}
span.num
{
    font-size: 32px;
}
div.pho
{
    display: flex;
    align-items: center;
    justify-content: center;
}
img#f
{
    width: 57px;
}
h2#nq
{
    margin-top: 47px;
    margin-left: 5px;
}